{% extends "layout.html" %}

{% block main %}

    <section class="home-content">
        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                        <h2 class="about-header">My career path</h2>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h3>2018 -> </h3>
							<p>Sr Product Owner - Cognizant Trizetto healthcare
                            </p>
							<li>
								Vision, Roadmap and successuful delivery of medicare products from 300k to More than 3M member jumbo clients.
							</li>
							<li>
								Risk Adjustment Manager for Exchanges product creation integrating with third party
							</li>
							<li>
								New warehouse report solution for 7 products with 300 reports
							</li>
                        
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h3>2017-2018</h3>
							<p>Full Stack Engineer - Cecilia(Healthcare Startup)
                            </p>
                            <ul>
                                <li>
                                    Implemented Digital communication using Mandrill and Twillio
                                </li>
                                <li>
                                    Decisions workflow setup for coach call center
                                </li>
                                <li>
                                    Power BI reporting of coaching calls and patient interaction.
                                </li>
                             </ul>
                        
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h3>2013-2017</h3>
							<p>Tech Lead - HP
                            </p>
                            <ul>
								<li>
                                    Lead Master Data implemenation of customer and product. 
                                </li>
                                <li>
                                    Redesign of In-House Asset Management Tracking to Dynamics AX CRM
                                </li>
                            </ul>
							<p><h5>PMP Certification</h5>
                            </p>
                        
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h3>2005-2012</h3>
                            <p>Software Developer - 
								<ul>
									<li>ICON Clinical</li>
									<li>Estee Lauder</li>
									<li>UPS</li>
                            </p>
                        
                </div>
            </div>
			<div class="container-timeline left">
                <div class="content">
                        <h3>2002-2004</h3>
							<p>MS in Electrical Engineering with Digital Signal Processing at NJIT
                            </p>
                            
                </div>
            </div>
			<div class="container-timeline right">
                <div class="content">
						<h3>2001-2002</h3>
                            <p>Diploma of Computer application at MS University
                            </p>
                        <h3>1997-2001</h3>
                            <p>Bachelor of Science at SP University
                            </p>
                        
                </div>
            </div>
        </div>

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>

        
    </section>

{% endblock %}