{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
		<!-- <div class="row justify-content-center">
			
				My portfolio site is a weekend&nbsp;<a target="_blank" class="about-link" href="https://github.com/JigneshRay/PortfolioWebSite">project</a>&nbsp;inspried by Julia Nikulski's&nbsp;<a target="_blank" class="about-link" href="https://towardsdatascience.com/how-to-build-a-data-science-portfolio-website-335b0f253822">
				towards datascience</a>&nbsp;article. I will continue updating...
			
		</div> -->
            <div class="row portfolio-row justify-content-center">
			
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
							<h2 class="index-header">My learning</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-left"> 
						<h5>Currently enrolled</h5>
                            <p><a target="_blank" class="about-link" href="https://udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/">Udemy Machine Learning</a>:
                                Python for Data science and machine learning bootcamp.
                            </p>
                        </div>
                    </div>
					<div class="row justify-content-center">
                        <div class="row index-img text-left">
						<h5>Recently completed</h5>
                            <p><a target="_blank" class="about-link" href="https://udemy.com/course/python-coding/">Udemy Python A-Z</a>:
                                Python A-Z: Python For Data Science With Real Exercises! - <a target="_blank" class="about-link" href="https://github.com/JigneshRay/AtoZPythonDataSci_Udemy">Here</a>&nbsp;is what I did.
                            </p>
                        </div>
                    </div>
					<div class="row justify-content-center">
                        <div class="row index-img text-left">
                            <p><a target="_blank" class="about-link" href="https://udemy.com/course/complete-python-bootcamp/">Udemy Python Bootcamp</a>:
                                2021 Complete Python Bootcamp From Zero to Hero in Python
                            </p>
                        </div>
                    </div>
					<div class="row justify-content-center">
                        <div class="row index-img text-left">
                            <p><a target="_blank" class="about-link" href="https://udemy.com/course/microsoft-azure-beginners-guide/">Udemy Microsoft Azure</a>:
                                Microsoft Azure - Beginner's Guide + AZ-900 - UPDATED 2021
                            </p>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
				            <h2 class="index-header">My reading</h2>
							
						</div>
                    </div>
					<div class="row justify-content-center">
							<div class="row index-img text-left">
								<h5>Books I recently read and some highlights!</h5>
							<br>
							<a target="_blank" class="about-link" href="https://read.amazon.com/kp/embed?asin=B077NRB36N&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_H46NKCSATK246006CDXQ">INSPIRED by Marty Cagan</a><br>
							<ul>
                                <li>
									Fall in love with the problem, not the solution.
								</li>
								<li>
									Product Evangelism - "selling the dream".
								</li>
							</ul>
						 </div>
						 </div>
						<div class="row justify-content-center">
					    <div class="row index-img text-left">
								<a target="_blank" class="about-link" href="https://read.amazon.com/kp/embed?asin=B002Q6XUE4&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_E9CKHPDGCK6KN2HFCQV3">Start With Why by Simon Sinek</a><br>
							<ul>
                                <li>
									Southwest Airline startup and brand evolution
								</li>
								<li>
									Martin Luther king meet 1963 without social media
								</li>
							</ul>
						 </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}