{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
				<h2 class="index-header">My latest project</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h6>My Portfolio site</h6>
                        </div>
                    </div>
                    
                    <div class="index-bottom text-center">
                        <p>
			    <a class="about-link" href="/en/portfolio">This way</a> to see more of my projects.
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
				<!-- <h2 class="index-header">My most recent course</h2> -->
                                <h2 class="index-header">My latest blog post</h2>
                            
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <!-- <h6>Udacity's Intro to Data Structures and Algorithms</h6> -->
                            <h6>Product Analysis</h6>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="index-bottom text-center">
                        <p>
				And <a target="_blank" class="about-link" href="https://medium.com/">this way</a> to see more of my blog posts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}