{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container p-0">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
				<h2 class="index-header">My learning</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-left">
						<h4>Currently Eenrolled</h4>
                            <p><a target="_blank" class="about-link" href="https://udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/">Udemy Machine Learning</a>:
                                Python for Data science and machine learning bootcamp.
                            </p>
                        </div>
                    </div>
					<div class="row justify-content-center">
                        <div class="row index-img text-left">
						<h4>Recently Completed</h4>
                            <p><a target="_blank" class="about-link" href="https://udemy.com/course/python-coding/">Udemy Python A-Z</a>:
                                Python A-Z: Python For Data Science With Real Exercises!
                            </p>
                        </div>
                    </div>
					<div class="row justify-content-center">
                        <div class="row index-img text-left">
                            <p><a target="_blank" class="about-link" href="https://udemy.com/course/complete-python-bootcamp/">Udemy Python Bootcamp</a>:
                                2021 Complete Python Bootcamp From Zero to Hero in Python
                            </p>
                        </div>
                    </div>
					<div class="row justify-content-center">
                        <div class="row index-img text-left">
                            <p><a target="_blank" class="about-link" href="https://udemy.com/course/microsoft-azure-beginners-guide/">Udemy Microsoft Azure</a>:
                                Microsoft Azure - Beginner's Guide + AZ-900 - UPDATED 2021
                            </p>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="col-12 col-md-5">
                    <div class="row justify-content-center">
                        <div class="text-center">
				            <h2 class="index-header">My Reading</h2>
							<h5>Books I read and things I learned or loved about it!</h5>
                        </div>
                    </div>
                    <div class="row justify-content-left">
                        <div class="row index-img text-left">
							<a target="_blank" class="about-link" href="https://read.amazon.com/kp/embed?asin=B077NRB36N&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_H46NKCSATK246006CDXQ">INSPIRED by Marty Cagan</a>
						<p>
							<ul>
                                <li>
									Fall in love with the problem, not the solution.
								</li>
								<li>
									Product Evangelism - "selling the dream".
								</li>
							</ul>
						 </div>
					</div>
                    <div class="row justify-content-left">
                        <div class="row index-img text-left">
								<a target="_blank" class="about-link" href="https://read.amazon.com/kp/embed?asin=B002Q6XUE4&preview=newtab&linkCode=kpe&ref_=cm_sw_r_kb_dp_E9CKHPDGCK6KN2HFCQV3">Start With Why by Simon Sinek</a><p>
							<ul>
                                <li>
									Southwest Airline startup and brand evolution
								</li>
								<li>
									Martin Luther king meet 1963 without social media
								</li>
							</ul>
						 </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}